src/assets/WhatsApp_modelo.json
{
  "name": "Modelo WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "{{session_id}}",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [1360, 580]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "nome",
              "value": "={{ $json.body.data.pushName }}"
            },
            {
              "name": "celular",
              "value": "={{ $json.body.data.key.remoteJid }}"
            },
            {
              "name": "mensagem",
              "value": "={{ $json.body.data.message.conversation }}"
            },
            {
              "name": "idcliente",
              "value": "={{ $json.body.data.key.id }}"
            }
          ]
        }
      },
      "id": "set-node-entrada",
      "name": "Dados vindos Whatsapp",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1620, 580]
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "{{assistant_id}}",
          "mode": "id"
        },
        "prompt": "define",
        "text": "={{ $json.body.data.message.conversation }}",
        "options": {}
      },
      "id": "openai-node",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [1860, 580],
      "credentials": {
        "openAiApi": {
          "id": "suxYhWDcTvxKaBBx",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "mensagem",
              "value": "={{ $json.output }}"
            }
          ]
        }
      },
      "id": "set-node-saida",
      "name": "Dados vindos OpenAI",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [2260, 580]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wsapi.guarumidia.com/message/sendText/{{session_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Dados vindos Whatsapp').item.json.body.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "http-node",
      "name": "Envia para WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2480, 580],
      "credentials": {
        "httpHeaderAuth": {
          "id": "HEADER_AUTH_ACCOUNT_ID",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados vindos Whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados vindos Whatsapp": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Dados vindos OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados vindos OpenAI": {
      "main": [
        [
          {
            "node": "Envia para WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
